# ==========================================
# Python & Cacher
# ==========================================

my_dc.ipynb

__pycache__/
*.py[cod]
*$py.class
*.so

# ==========================================
# Virtuella miljöer (Virtual Environments)
# ==========================================
.venv/
venv/
env/
ENV/

# ==========================================
# Loggfiler & Lokala utskrifter
# ==========================================
*.log
datacenter.log

# ==========================================
# Jupyter Notebooks (Tillfälliga sparfiler)
# ==========================================
.ipynb_checkpoints/

# ==========================================
# Databasfiler (Lokala testdatabaser)
# ==========================================
*.db
*.sqlite3

# ==========================================
# Editorer & IDE (VS Code / PyCharm)
# ==========================================
.vscode/
.idea/

# ==========================================
# Operativsystemets skräpfiler
# ==========================================
.DS_Store
Thumbs.db